﻿@using Common
@model Common.Preference

@{
    ViewData["Title"] = "Preferences";
}

<h1>Preferences</h1>

<form asp-action="Preferences">
    <div class="form-group">
        <label class="control-label">Base Currency: </label>
        <select name="baseCurrency" class="form-control mt-2">
            @if(ViewBag.currencies != null)
                {
                @if(Model != null)
                {
                    <option value="@Model.BaseCurrency" selected="selected">@Model.BaseCurrency</option>
                }
                


                    var currencies = ViewBag.currencies as List<string>;

                    foreach(var currency in currencies)
                    {
                        <option value="@currency">@currency</option>
                    }
                }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Currencies to watch: </label>

        @for(int i = 0; i < 5; i++)
        {
            <select name="prefCurrencies" class="form-control mt-2">
                @if(ViewBag.currencies != null)
                {
                    @if(Model != null)
                    {
                        <option value="@Model.Currencies[i]" selected="selected">@Model.Currencies[i]</option>
                    }
                    

                    var currencies = ViewBag.currencies as List<string>;

                    foreach(var currency in currencies)
                    {
                        <option value="@currency">@currency</option>
                    }
                }
            </select>
        }
        
    </div>

    <div class="form-group">
        <label class="control-label">Tweets tag:</label>
        @if(Model != null)
        {
            <input name="tweetsQuery" value="@Model.TweetsQuery" class="form-control">
        }
        else
        {
            <input name="tweetsQuery" class="form-control">
        }

    </div>
    <div class="form-group mt-3">
            <input type="submit" value="save" class="btn btn-primary" />
    </div>
</form>