﻿@using Common
@model Common.ExchangeItem

@{
    ViewData["Title"] = "Calculator";
}

<h1>Currency Exchange Calculator</h1>

<form asp-action="ExchangeCalculator">
    <div class="form-group">
        <label class="control-label">Base Currency: </label>
        <select asp-for="BaseCurrency" class="form-control">
            @if(ViewBag.Currencies != null)
            {
                var currencies = ViewBag.Currencies as List<string>;

                foreach(var currency in currencies)
                {
                    <option value="@currency">@currency</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Target Currency: </label>
        <select asp-for="TargetCurrency" class="form-control">
            @if(ViewBag.Currencies != null)
            {
                var currencies = ViewBag.Currencies as List<string>;

                foreach(var currency in currencies)
                {
                  <option value="@currency">@currency</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input type="number" asp-for="Amount" class="form-control" />
    </div>
    <div class="form-group mt-3">
            <input type="submit" value="Calculate" class="btn btn-primary" />
    </div>

    @if (ViewData["CalculatedAmount"] != null)
    {
        <div class="alert alert-success mt-3" role="alert">
            @ViewData["CalculatedAmount"]
        </div>
    }
</form>
