﻿@using Common
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="container-flex">
            <div class="row">
                @if (ViewBag.ExchangeRates != null)
                {
                    List<string> exchangeRates = ViewBag.ExchangeRates;

                    int counter = 0;
            
                    <div class="col-md-2">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Rates</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in exchangeRates)
                                {
                                    <tr>
                                        <td>@item</td>
                                    </tr>
                                    counter++;
                                }

                            </tbody>
                        </table>
                    </div>
                }
                
                @if(ViewBag.Transactions != null)
                {
                    List<string> transactions = ViewBag.Transactions;

                    <div class="col-md-4">

                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Transfers</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in transactions)
                                {
                                    <tr>
                                        <td>@item</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                @if(ViewBag.Tweets != null)
                {
                    List<string> tweets = ViewBag.Tweets as List<string>;

                    
                        <div class="col-md-6">
                            <table class="table">
                                <tbody>
                                    @foreach(string tweet in tweets)
                                    {
                                        <tr>
                                            <td>@tweet</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>  
                }
            </div>
        </div>
        @if(ViewBag.FundAccounts != null && User.Identity.IsAuthenticated)
        {
            var accounts = ViewBag.FundAccounts as List<FundAccount>;
                <div class="row mt-3">
                    <div class="col-sm-4">
                        <form asp-action="search">
                            <div class="input-group">
                                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="query"/>
                                <button type="submit" class="btn btn-outline-primary">search</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row mt-3">
                    @foreach(var account in accounts)
                    {
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Account: @account.BankAccountNo</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Balance: @account.CurrencyCode @account.Balance</h6>
                                    <p class="card-text">Bank: @account.BankName @account.BankCode</p>
                                    <p class="card-text">IBAN: @account.IBAN</p>
                                    <p class="card-text">Country: @account.Country</p>
                                    <p class="card-text">Payee: @account.Payee</p>
                                    <a href="/Funds/AddFunds/@account.Id" class="btn btn-primary">Add Funds</a>
                                        @if(accounts.Count > 1)
                                        {
                                            <a href="/Funds/Transfer/@account.Id" class="btn btn-secondary">Transfer</a>
                                        }
                                    <a href="/Funds/Send/@account.Id" class="btn btn-info">Send</a>
                                    <a href="/Funds/AuditLog/@account.Id" class="btn btn-info">Audit Log</a>

                                    <a href="/Funds/DisableAccount/@account.Id" class="btn btn-danger">Disable Account</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
        }
            </div>
</div>
