﻿@using Common
@{
    ViewData["Title"] = "Search";
}

<div class="text-center">


    @if (ViewBag.FundAccounts != null && User.Identity.IsAuthenticated)
    {
        var accounts = ViewBag.FundAccounts as List<FundAccount>;

        <div class="row">
            @foreach (var account in accounts)
            {
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Account: @account.BankAccountNo</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Balance: @account.CurrencyCode @account.Balance</h6>
                            <p class="card-text">Bank: @account.BankName @account.BankCode</p>
                            <p class="card-text">IBAN: @account.IBAN</p>
                            <p class="card-text">Country: @account.Country</p>
                            <p class="card-text">Payee: @account.Payee</p>
                            <a href="/Funds/AddFunds/@account.Id" class="btn btn-primary">Add Funds</a>
                            @if(accounts.Count > 1)
                                {
                                    <a href="/Funds/Transfer/@account.Id" class="btn btn-secondary">Transfer</a>
                                }
                            <a href="/Funds/Send/@account.Id" class="btn btn-info">Send</a>
                            <a href="/Funds/DisableAccount/@account.Id" class="btn btn-danger">Disable Account</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
    
