﻿@model Common.FundAccount

@{
    ViewData["Title"] = "AddFunds";
}

<h1>Add Funds</h1>

<h4>Fund Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFunds">
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Funds" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
