﻿@using Common
@{
    ViewData["Title"] = "Audit Log";
    TransactionsAndDeposits item = ViewBag.TransactionsAndDeposits;
}

<h1>Audit Log</h1>

<form asp-action="AuditLog">
    <div class="form-group">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <input type="text" class="form-control rounded" placeholder="Start Date" name="startDate" /> 
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control rounded" placeholder="End Date" name="endDate" /> 
                    <input type="hidden" name="id" value="@item.Account.Id" />
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-outline-primary">Filter</button>
                </div>
            </div> 
        </div>
    </div>
</form>


<div class="container mt-3">
    <div class="row">

        <div class="col-md-2">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Account</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.Account.IBAN</h6>
                    <p class="card-text">@item.Account.BankAccountNo</p>
                    <p class="card-text">@item.Account.Payee</p>
                    <p class="card-text">@item.Account.BankCode</p>
                    <p class="card-text">@item.Account.Country</p>
                    <p class="card-text">@item.Account.Balance @item.Account.CurrencyCode</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Deposits</h5>
            
                    @foreach(var deposit in item.Deposits)
                    {
                        <h6 class="card-text">@deposit.DateTime @deposit.Amount</h6>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Transfers</h5>
            
                    @foreach(var transfer in item.TransferItems)
                    {
                        <h6 class="card-text">@transfer.DateTime @transfer.From_IBAN @transfer.To_IBAN @transfer.Balance</h6>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

