﻿@using Common
@{
    ViewData["Title"] = "Audit";

    List<string> list = ViewBag.Transactions;
}


<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <table class="table"> 
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Transactions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in list)
                    {
                        <tr>
                            <td>
                                @item
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>