﻿@using Common
@model Common.FundAccount
@{
    ViewData["Title"] = "Send";
}

<form asp-action="send">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label name="iban" class="control-label">IBAN</label>
        <input name="iban" class="form-control" />
    </div>
    <div class="form-group">
        <label name="amount" class="control-label">Amount</label>
        <input name="amount" class="form-control" />
    </div
    <input type="hidden" value="@Model.Id" name="id" />
    <div class="form-group mt-3">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>