﻿@using Common
@model Common.Transfer

@{
    ViewData["Title"] = "Transfer";
}

<h1>Transfer between accounts</h1>

<form asp-action="Transfer">
    <div class="form-group">
        <label class="control-label">Account: </label>
        <select asp-for="To.Id" class="form-control">
            @if(ViewBag.FundAccounts != null)
            {
                var accounts = ViewBag.FundAccounts as List<FundAccount>;

                foreach(var account in accounts)
                {
                    if(account.Id != Model.From.Id)
                    {
                        <option value="@account.Id">@account.BankCode @account.BankAccountNo</option>
                    }
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input type="number" asp-for="Amount" class="form-control" />
    </div>
    <input type="hidden" asp-for="From.Id" value="@Model.From.Id" />
    <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>